#Se 1 roda seed e criacao de base no elastic
#OBS.: ao setar como '1' todo o banco eh deletado. CUIDADO!!
#OBS.: fazer dupla checagem! Verificar se variavel nao foi setada por engano no ambiente => 'echo $SEED_DATABASES'
SEED_DATABASES=0


#Configuracoes DB
POSTGRES_DB=normativas
POSTGRES_USER=normativas
POSTGRES_PASSWORD=normativas

#Configuracoes App
APP_NAME=Normativas
APP_ENV=local
APP_KEY=base64:X9e/0nIcSxlaQOk4gzPBaLhvkVkkQU4yyRNyu6Sqjzk=
#APP_KEY=base64:iA9/zEmqK2ySEibgGJFc1xoKoQPGWpU8j3GdDIYIqlI=
APP_DEBUG=true
APP_URL="http://normativas-v02.com"

#ETL_DIR=/home/thiago/desenv/Normativas/normativas-crawlers-etl/etl/ 

ELASTIC_URL=http://normativaselasticsearch:9200
ELASTIC_INDEX=normativas


LOG_CHANNEL=stack

DB_CONNECTION=pgsql
DB_HOST=normativasdb
DB_PORT=5432
DB_DATABASE=normativas
DB_USERNAME=normativas
DB_PASSWORD=normativas
DATABASE_URL=postgres://normativas:normativas@normativasdb:5432/normativas


BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=secret@secret.com.br
MAIL_PASSWORD=secret
MAIL_ENCRYPTION=tls

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
